[common]
data_path = D:\Github\BackTest\HistoryData\GBPNZD_15M.csv
test_data_path = D:\Github\BackTest\HistoryData\GBPNZD_15M_Test.csv
magic = 122
spread = 0.00030
start = 2017.01.01
end = 2017.12.10
log_path = D:\Github\BackTest\Log\122.log
point = 5
period = 15

[account]
mount = 10000
lever = 100

[strategy]
lot = 0.01
marting = 1.8
distance = 0.00140
profit = 0.00100
long_period = 120
short_period = 8
call_back = 0.00200
max_lot = 9
move = 0.01100
bar_proportion = 0.8
