[common]
data_path = D:\Github\BackTest\HistoryData\EURUSD_15M.csv
test_data_path = D:\Github\BackTest\HistoryData\EURUSD_15M_Test.csv
magic = 155
spread = 0.00005
start = 2017.08.01
end = 2017.12.01
log_path = D:\Github\BackTest\Log\155.log
point = 5
period = 15
min_lot = 0.01
max_lot = 50

[account]
mount = 10000
lever = 100

[strategy]
lot = 1
proportion = 0.6
long_period = 40
short_period = 7
call_back = 0.00600
move = 0.00350
takeprofit = 0.00500
stoploss = 0.00500

